.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
html, body {
  height: 100%;
}
body {
  background-color: #504560;
  transition: background-color 0.5s ease-in-out;
}
h1 {
  color: #292037;
  transition: color 0.5s ease-in-out;
}
a {
  color: #292037;
  transition: color 0.5s ease-in-out;
}
a:hover, a:focus {
  color: #e9acff;
}
textarea {
  width: 100%;
  background-color: #2b2633;
  border-radius: 10px;
  border: 0;
  resize: none;
  color: #c289a2;
  height: 240px;
  padding: 20px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
@media screen and (max-width: 400px) {
  textarea {
    height: 100px;
    padding: 15px;
  }
}
button {
  filter: blur(0px);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #654e6c;
  background-image: url("/static/images/go.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: filter 0.2s ease-in-out;
}
body.animation button {
  transition: filter 0.2s ease-in-out, background-color 0.5s ease-in-out;
}
button:hover {
  background-color: #714a7d;
}
button.disabled {
  filter: blur(15px);
  pointer-events: none;
}
textarea, button {
  vertical-align: top;
  margin-bottom: 20px;
}
.chain {
  display: inline-block;
  top: -12px;
  position: relative;
}
.piece {
  font-size: 14px;
  color: #292037;
  text-transform: capitalize;
  position: relative;
  transition: color 0.5s ease-in-out;
  cursor: default;
}
.piece:not(:last-child)::after {
  content: '\f105';
  opacity: 0.5;
}
.piece .tip {
  width: 140px;
  position: absolute;
  left: 25%;
  margin-left: -70px;
  text-align: center;
  display: none;
  top: 28px;
}
.piece:last-child .tip {
  left: 50%;
}
.piece .tip span {
  color: white;
  background-color: black;
  padding: 4px 7px 5px;
  border-radius: 6px;
}
.piece .tip span::before {
  display: block;
  content: " ";
  border-radius: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  top: 0;
  left: 50%;
  transform: translateX(-5px) translateY(-6px) rotate(45deg);
}

.piece:hover .tip {
  display: block;
}
h3, .translations {
  color: #292037;
  transition: color 0.5s ease-in-out;
}
.translations {
  padding-bottom: 30px;
}
.translations .row {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: border-bottom 0.5s ease-in-out;
}
.translations .row:not(:last-child) {
  border-bottom: 1px solid rgba(41, 32, 55, 0.25);
}
.icon-lightbulb {
  cursor: pointer;
}
.like {
  cursor: pointer;
}
.icon-heart::before {
  color: #f03254;
}
body.theme-light {
  background-color: #F5F6F7;
}
body.theme-light h1 {
  color: #7d838a;
}
body.theme-light .icon-lightbulb {
  color: #fed606;
}
body.theme-light .icon-lightbulb {
  text-shadow: 0px 0px 30px #fed606;
}
body.theme-light h3, body.theme-light .translations {
  color: #3a3e42;
}
body.theme-light a {
  color: #3a3e42;
}
body.theme-light a:hover, body.theme-light a:focus {
  color: #3686d6;
}
body.theme-light textarea {
  width: 100%;
  background-color: white;
  color: #3a3e42;
}
body.theme-light button {
  background-color: #c0c7cf;
}
body.theme-light button:hover {
  background-color: #3c8fee;
}
body.theme-light .translations .row:not(:last-child) {
  border-bottom: 1px solid rgba(125, 131, 138, 0.15);
}
body.theme-light .piece {
  color: #7a858e;
}
