.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
  background-color: #26292b;
  transition: background-color 0.5s ease-in-out;
}
h1 {
  color: #4d5c67;
  transition: color 0.5s ease-in-out;
}
a {
  color: #4d5c67;
}
body.animation a {
  transition: color 0.5s ease-in-out;
}
.yandex {
  display: inline-block;
  padding-top: 34px;
}
a:hover, a:focus {
  color: #92aec3;
}
textarea {
  width: 100%;
  background-color: #202325;
  border-radius: 10px;
  border: 0;
  resize: none;
  color: #a4b5c2;
  height: 240px;
  padding: 20px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
button.translate {
  filter: blur(0px);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #393f44;
  background-image: url("/static/images/go.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: filter 0.2s ease-in-out;
}
@media (max-width: 767px) {
  textarea {
    height: 100px;
    padding: 15px;
  }
  .yandex {
    padding-top: 26px;
    line-height: 1.1;
  }
  .translations .row .in {
    margin-bottom: 8px;
    opacity: 0.75;
  }
}
@media (max-width: 991px) {
  .tabs {
    text-align: center;
  }
}
@media (min-width: 992px) {
  button.translate {
    margin-top: 90px;
  }
}
body.animation button.translate {
  transition: filter 0.2s ease-in-out, background-color 0.5s ease-in-out;
}
button.translate:hover {
  background-color: #495661;
}
button.translate.disabled {
  filter: blur(15px);
  pointer-events: none;
}
textarea, button.translate {
  vertical-align: top;
  margin-bottom: 20px;
}
.chain {
  display: inline-block;
  top: -12px;
  position: relative;
}
.piece {
  font-size: 14px;
  color: #4d5c67;
  text-transform: capitalize;
  position: relative;
  transition: color 0.5s ease-in-out;
  cursor: default;
}
.piece:not(:last-child)::after {
  content: '\f105';
  opacity: 0.5;
}
.piece .tip {
  width: 140px;
  position: absolute;
  left: 25%;
  margin-left: -70px;
  text-align: center;
  display: none;
  top: 28px;
}
.piece:last-child .tip {
  left: 50%;
}
.piece .tip span {
  color: white;
  background-color: black;
  padding: 4px 7px 5px;
  border-radius: 6px;
}
.piece .tip span::before {
  display: block;
  content: " ";
  border-radius: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  top: 0;
  left: 50%;
  transform: translateX(-5px) translateY(-6px) rotate(45deg);
}

.piece:hover .tip {
  display: block;
}
h3, .translations {
  color: #a1b1bd;
  transition: color 0.5s ease-in-out;
}
.yandex-bottom {
  margin-bottom: 20px;
  margin-top: -20px;
}
.translations {
  padding-bottom: 25px;
}
.translations .row {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: border-bottom 0.5s ease-in-out;
}
.translations .row:not(:last-child) {
  border-bottom: 1px solid rgba(77, 92, 103, 0.25);
}
.icon-lightbulb {
  cursor: pointer;
}
.like {
  cursor: pointer;
}
.icon-heart::before {
  color: #f03254;
}
.tab {
  display: inline-block;
  padding: 4px 20px 6px;
  border-radius: 27px;
}
.tab a {
  cursor: pointer;
}
.tab.active {
  background-color: #53636f;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.tab.active a {
  color: #1d2224;
}
body.theme-light {
  background-color: #F5F6F7;
}
body.theme-light h1 {
  color: #7d838a;
}
body.theme-light .icon-lightbulb {
  color: #fed606;
}
body.theme-light .icon-lightbulb {
  text-shadow: 0px 0px 30px #fed606;
}
body.theme-light h3, body.theme-light .translations {
  color: #3a3e42;
}
body.theme-light a {
  color: #3a3e42;
}
body.theme-light a:hover, body.theme-light a:focus {
  color: #3686d6;
}
body.theme-light textarea {
  width: 100%;
  background-color: white;
  color: #3a3e42;
}
body.theme-light button.translate {
  background-color: #c0c7cf;
}
body.theme-light button.translate:hover {
  background-color: #3c8fee;
}
body.theme-light .translations .row:not(:last-child) {
  border-bottom: 1px solid rgba(125, 131, 138, 0.15);
}
body.theme-light .piece {
  color: #7a858e;
}
body.theme-light .tab.active {
  background-color: #E2E4E6;
}

a.github {
  background-color: #555555;
  color: #eeeeee !important;
  width: 250px;
  text-align: center;
  line-height: 2.2;
  padding-bottom: 2px;
  box-shadow: 0 0 10px 0 #00000080;
  position: absolute;
  z-index: 100;
  right: -66px;
  transform: rotate(45deg);
  top: 44px;
  display: none;
}
@media (min-width: 1360px) {
  a.github {
    display: block;
  }
}
.github::before, .github::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed white;
  box-shadow: 0 0px 1px 0 black;
}
.github::before {
  position: absolute;
  top: 2px;
}
.icon-docs {
  display: inline;
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
  border: 0;
  outline: none;
}
.icon-docs:focus {
  outline: none;
}
.icon-docs.animate {
  animation-duration: 0.3s;
  animation-name: bump;
}

@keyframes bump {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}
.nowrap {
  white-space: nowrap;
}
.pieces {
  white-space: nowrap;
}
.pieces .piece {
  font-size: 12px;
}
.pieces .piece::after {
  width: 0.1em;
  margin-left: .3em;
}
