<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bad Translator</title>
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/clearsans.css">
    <link rel="stylesheet" href="/static/css/bad_translator.css">
  </head>
  {% if theme_light %}
    <body class="theme-light">
  {% else %}
    <body>
  {% endif %}
    <a href="https://github.com/zezic/bad-translator" class="github">Fork me on <strong>GitHub</strong></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1>Bad Translator <span style="opacity: 0.5;">v0.5</span> <span class="icon-lightbulb"></span></h1>
        </div>
        <div class="col-sm-6 text-right hidden-xs" style="overflow-x: hidden;">
          <a href="http://translate.yandex.com/" class="yandex">Powered by Yandex.Translate</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <textarea id="in" placeholder="Enter something and press button"></textarea>
        </div>
        <div class="col-md-2 text-center">
          <button class="translate"></button>
        </div>
        <div class="col-md-5">
          <textarea id="out" readonly></textarea>
          <div class="chain"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% for route in [["", "Live"], ["top", "Top"], ["random", "Random"]] %}
            <h3 class="tab{% if route[0] == page %} active{% endif %}"><a href="/{{ route[0] }}">{{ route[1] }}</a></h3>
          {% endfor %}
        </div>
      </div>
      <div class="translations">

        <div class="row hidden tr_source" style="display: none;">
          <div class="col-sm-5 in"></div>
          <div class="col-sm-5 col-xs-9 out"></div>
          <div class="col-sm-2 col-xs-3 text-right">
            <span data-id="" class="like">
              <span class="display"></span>
              <span class="icon icon-heart-empty opa-0"></span>
            </span>
            <button class="icon-docs hidden-xs" data-clipboard-text=""></button>
          </div>
        </div>

        {% for item in translations %}
          <div class="row">
            <div class="col-sm-5 in">{{ item.in }}</div>
            <div class="col-sm-5 col-xs-9 out">{{ item.out }}</div>
            <div class="col-sm-2 col-xs-3 text-right">
              <span data-id="{{ item.id }}" class="like">
                <span class="display">{% if item.likes|length > 0 %}{{ item.likes|length }}{% endif %}</span>
                <span class="icon {% if item.its_you %}icon-heart{% else %}icon-heart-empty{% endif %} opa-{{ item.likes|length }}"></span>
              </span>
              <button class="icon-docs hidden-xs" data-clipboard-text="{{ item.in }} --> {{ item.out }}"></button>
            </div>
          </div>
        {% endfor %}
        <a href="http://translate.yandex.com/" class="text-right visible-xs yandex-bottom">Powered by Yandex.Translate</a>
      </div>
    </div>

    <script>
      if (localStorage.getItem("theme-light") == "true") {
        var d = document.body;
        d.className += " theme-light";
      }
    </script>
    <script src="/static/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vendor/socket.io-1.4.5.js"></script>
    <script src="/static/js/vendor/js.cookie.js"></script>
    <script src="/static/js/vendor/clipboard.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
