<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bad Translator</title>
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/clearsans.css">
    <link rel="stylesheet" href="/static/css/bad_translator.css">
  </head>
  {% if theme_light %}
    <body class="theme-light">
  {% else %}
    <body>
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Bad Translator <span style="opacity: 0.5;">v0.2</span> <span class="icon-lightbulb"></span></h1>
        </div>
        <div class="col-xs-6 text-right">
          <a href="http://translate.yandex.com/" style="display: inline-block; padding-top: 34px;">Powered by Yandex.Translate</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <textarea id="in" placeholder="Enter something and press button"></textarea>
        </div>
        <div class="col-md-2 text-center">
          <button class="translate"></button>
          <div class="chain">
            <span class="piece">en</span>
            <span class="piece">ru</span>
            <span class="piece">jp</span>
            <span class="piece">en</span>
          </div>
        </div>
        <div class="col-md-5">
          <textarea id="out" readonly></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h3>Random translations:</h3>
        </div>
      </div>
      <div class="translations">
        {% for item in translations %}
          <div class="row">
            <div class="col-sm-5">{{ item.in }}</div>
            <div class="col-sm-5 col-xs-9">{{ item.out }}</div>
            <div class="col-sm-2 col-xs-3 text-right">
              <span data-id="{{ item.id }}" class="like">
                <span class="display">{% if item.likes|length > 0 %}{{ item.likes|length }}{% endif %}</span>
                <span class="icon {% if item.its_you %}icon-heart{% else %}icon-heart-empty{% endif %} opa-{{ item.likes|length }}"></span>
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
      if (localStorage.getItem("theme-light") == "true") {
        var d = document.body;
        d.className += " theme-light";
      }
    </script>
    <script src="/static/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vendor/js.cookie.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
